{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login</title>
   <link rel="stylesheet" type="text/css" href="{% static 'chat_app/auth.css' %}">
</head>
<body>
   <div id="main-form">
      <h2>Login to Chat App</h2>
      <form method="post" id="auth-form">
         {% csrf_token %}
         {{ form.as_p }}
         <button type="submit" class="submit">Login</button>
         <p>New to Chat App? <a href="{% url 'signup' %}">Signup</a></p>
      </form>
   </div>
</body>
</html>